/* ---------------- Font settings ---------------- */

/** Removes the white background from footer which overrides everything **/
html {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/** Background colour of whole page **/
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #525252;
    padding: 0;
    margin: 0;
    background-color:#444444;
    background-image: url([[pix:theme|bg]])
}

/** Background colour of the central part where all content is **/
#wrapper {
    padding: 0;
    border: none;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 840px;
    background-color: transparent;
}

#page-content {
    min-width: 840px;
}

#page-content .region-content {
    overflow: hidden;
    padding: 5px;
    background-color: transparent;
}

#region-main .region-content {
    background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Times New Roman";
    color: [[setting:themecolor]];
    padding: 2px;
    text-transform: uppercase;
}

a { 
    color: [[setting:themecolor]];
    text-decoration: none;
}

a:hover { 
    text-decoration: none;
    color: #000000;
}

ol, ul, dl {
    margin-left: 1em;
}

/* ---------------- Header banner ---------------- */

/* Logo at top of page */
/* The logo is controlled by the settings page */

#page-header {
    position:relative;
    background-color: #FFFFFF;
    background-image: url([[pix:theme|header]]);
    background-position: top right;
    background-repeat: no-repeat;
    height: 216px;
    }

#page-header .sitelogo {
    float:left;
    }
    
#page-header .langmenu {
    position: absolute;
    top: 10px;
    right: 10px;
}

#page-header .maintitle {
    width: 340px;
    max-height: 90px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 16pt;
    font-family: "Times New Roman";
    font-weight: bolder;
    overflow: hidden;
}

#page-header .mainsubtitle {
    width: 340px;
    padding-left: 10px;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-weight: bold;
    color: #A4A0A0;
}

#page-header .autotitle {
    width: 340px;
    max-height: 120px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16pt;
    font-family: "Times New Roman";
    font-weight: bolder;
    overflow: hidden;
}

/* ---------------- Navigation bar ---------------- */

.navbar {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 600px;
    height: 20px;
    overflow: hidden;
}

.navbar a {
    color: #FFFFFF;
}

.navbar a:hover {
    color: #000000;
}

/* ---------------- Login information ---------------- */

/* Login info at the top */
.toplogin {
    width: 840px;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2px;
}

.toplogin .logininfo {
    color: #FFFFFF;
    font-size: 0.8em;
    color: #adad7b;
}

.toplogin .logininfo a {
    color: #adad7b;
    text-decoration: underline;
}

.toplogin .logininfo a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* Login info at the bottom */

#page-footer .logininfo {
    color: #adad7b;
}

#page-footer .logininfo a {
    color: #adad7b;
    text-decoration: underline;
}

#page-footer .logininfo a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* ---------------- Footer ---------------- */

#page-footer {
    color: #adad7b;
    font-size: 0.8em;
}

#page-footer a {
    color: #adad7b;
    text-decoration: underline;
}

#page-footer a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* ---------------- Boxes and buttons site wide ---------------- */

.generalbox {
    border: none;
    padding: 5px;
}

.singlebutton {
    text-align: center;
}

.continuebutton {
    text-align: center;
}

.buttons {
    text-align: center;
}

.navbutton {
    float: none;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    text-align: center;
}

.controls {
    text-align: center;
    margin-top: 10px;
}

.expandall,
.collapseall {
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #525252;
}

/* ---------------- Redirect page ---------------- */
/* Like after posting to a forum */

.redirectmessage {
    text-align: center;
}

/* The div for the whole redirect page */
.pagelayout-redirect #page {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 200px;
    padding-top: 125px;
    border-color: [[setting:themecolor]];
    border-width: 10px;
    border-style: solid;
    background-color: #FFFFFF;
}

/* ---------------- List of categories ---------------- */
.numberofcourse {
    float: right;
}

.categorylist {
    font-family: "Times New Roman";
    text-transform: uppercase;
}

.categorylist .indentation {
    width: 100%;
}

/* First sub-category level */
.indentation .numberofcourse {
    padding-right: 20px;
}

/* Second sub-category level */
.indentation .indentation .numberofcourse {
    padding-right: 40px;
}

/* Third sub-category level */
.indentation .indentation .indentation .numberofcourse {
    padding-right: 60px;
}

/* Fourth sub-category level */
.indentation .indentation .indentation .indentation .numberofcourse {
    padding-right: 80px;
}

/* If you are going into five or more sub-category levels
  please keep adding as per the pattern above */

/* ---------------- Admin pages fixes ---------------- */

#adminsettings .form-item .form-label {
    width: 8em;
    font-weight: bold;
}

#page-admin-theme-index img {
    max-width: 400px;
}

#adminsettings .form-item .form-label .form-shortname {
    font-weight: normal;
    font-size: 0.8em;
}

#adminsettings .form-item .form-setting {
    margin-left: 9em;
}

#adminsettings .form-item .form-description {
    margin-left: 110px;
    font-size: 0.8em;
    font-style: italic;
}

#adminsettings textarea {
    width: 430px;
}

/* ---------------- Theme splash page from lang file ---------------- */

.theme_screenshot h2 {
    font-size: 2em;
    margin: 0;
}

.theme_screenshot {
    float: left;
    width: 220px;
    padding-left: 5px;
    padding-right: 5px;
}

#page-admin-theme-index .theme_screenshot img {
    max-width: 200px;
    border: 2px solid black;
     -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}