#custommenu {
    border: none !important;
    position: absolute;
    top: 140px;
    width: 600px;
    max-height: 55px;
}

.yui3-skin-sam .yui3-menu-content,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
    border: none !important;
    text-align: center;
    color: #FFFFFF;
}


#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menu-horizontal .yui3-menuitem {
    border: none;
    background-image: url([[pix:theme|menu_right]]);
    background-position: top left;
    background-repeat: repeat-x;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;

}

#custommenu .yui3-menu .custom_menu_submenu .yui3-menuitem,
#custommenu .yui3-menu .custom_menu_submenu .yui3-menu-label-menuvisible {
    height: 20px;
    background-image: none;
    margin-left: 0;
}

#custommenu .yui3-menu .yui3-menu .yui3-menu-label {
    height: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    margin-left: 0;
}

#custommenu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {
    background-image:url([[pix:theme|horizontal-menu-submenu-indicator]]);
    background-repeat: no-repeat;
    background-position: center right;
}

#custommenu .yui3-menu .custom_menu_submenu .yui3-menuitem-active,
#custommenu .yui3-menu .custom_menu_submenu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu .custom_menu_submenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .custom_menu_submenu .yui3-menu-label-menuvisible .yui3-menu-label-active,
#custommenu .yui3-menu .yui3-menu .yui3-menu-label-active {
    background-color: [[setting:themecolor]];
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.yui3-skin-sam .yui3-menu .custom_menu_submenu .yui3-menu-content {
    border: 1px solid [[setting:themecolor]] !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: -20px;
}

.yui3-skin-sam .yui3-menu-content,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content {
    padding: 0 !important;
}

#custommenu .yui3-menuitem-active,
#custommenu .yui3-menuitem-active .yui3-menuitem-content,
.yui3-menulabel .yui3-menulabel-active .yu3-menulabel-menuvisible,
.yui3-skin-sam .yui3-menu-label-active,
.yui3-skin-sam .yui3-menulabel-menuvisible,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label-active .yui3-menuitem-content,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label-menuvisible,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {
    /* background-color: [[setting:themecolor]]; */
    color: #FFFFFF !important;
}

/* second level deep and beyond */
.yui3-skin-sam .yui3-menu .yui3-menu .custom_menu_submenu .yui3-menu-content {
    margin-top: 0;
}